<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Impacto da Má Alimentação na Saúde</title>
  <meta name="title" content="Impacto da Má Alimentação na Saúde">
  <meta name="description" content="Blog das Biomoléculas">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./assets/images/nutrition-icon.svg" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./assets/css/style.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./assets/images/hero-banner.png">
  <link rel="preload" as="image" href="./assets/images/pattern-2.svg">
  <link rel="preload" as="image" href="./assets/images/pattern-3.svg">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="./assets/images/nutrition-icon.svg" width="45" height="auto" alt="logo">
      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">
          <a href="#" class="logo">
            <img src="./assets/images/nutrition-icon.svg" width="45" height="auto" alt="logo">
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">

          <li>
            <a href="index.html" class="navbar-link hover-1" data-nav-toggler>Início</a>
          </li>

          <li>
            <a href="index.html#posts" class="navbar-link hover-1" data-nav-toggler>Posts</a>
          </li>

          <li>
            <a href="#sobre" class="navbar-link hover-1" data-nav-toggler>Sobre</a>
          </li>

        </ul>

      </nav>

      <a href="index.html" class="logo">
        <img src="./assets/images/logo-if.png" width="25" height="auto" alt="logo">
      </a>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

    </div>
  </header>

  <main>
    <section class="section feature" aria-label="feature" id="posts">
      <div class="container">
        <h1 class="headline headline-2" style="text-align: center;">Como melhorar a alimentação e evitar doenças</h1><br>
        <a href="#"><img class="img-post" src="assets/images/evitar.png" alt="Como melhorar a alimentação e evitar doenças"></a>
        <br>
        <p class="hero-text" style="font-size: large;">Melhorar a alimentação e evitar doenças envolve adotar hábitos saudáveis e fazer escolhas alimentares equilibradas. Aqui estão algumas estratégias para alcançar esses objetivos:</p><br>
        <p class="hero-text" style="font-size: large;"><b>Adotar uma Dieta Equilibrada</b></p>
        <p class="hero-text" style="font-size: large;">Inclua Variedade: Consuma uma ampla gama de alimentos para garantir a ingestão de todos os nutrientes necessários.</p>
        <p class="hero-text" style="font-size: large;">Priorize Alimentos Naturais: Foque em frutas, vegetais, grãos integrais, proteínas magras e fontes saudáveis de gordura.</p>
        <p class="hero-text" style="font-size: large;">Controle as Porções: Coma porções adequadas para evitar o excesso de calorias e manter um peso saudável.</p>
        <p class="hero-text" style="font-size: large;"><b>Aumentar o Consumo de Nutrientes Essenciais</b></p>
        <p class="hero-text" style="font-size: large;">Fibras: Consuma grãos integrais, legumes, frutas e vegetais para promover a saúde digestiva.</p>
        <p class="hero-text" style="font-size: large;">Proteínas: Inclua fontes magras como peixes, frango, tofu e leguminosas.
</p>
        <p class="hero-text" style="font-size: large;">Vitaminas e Minerais: Garanta a ingestão de alimentos ricos em vitaminas e minerais, como verduras de folhas verdes (vitamina K), laticínios ou alternativas fortificadas (cálcio e vitamina D), e carnes magras (ferro).
</p>
        <p class="hero-text" style="font-size: large;"><b>Reduzir a Ingestão de Alimentos Processados e Açúcares</b></p>
        <p class="hero-text" style="font-size: large;">Evite Fast Food e Alimentos Industrializados: Esses alimentos frequentemente contêm altos níveis de sódio, açúcares e gorduras não saudáveis.
</p>
        <p class="hero-text" style="font-size: large;">Modere o Consumo de Açúcares e Doces: Reduza a ingestão de bebidas açucaradas e doces para manter níveis saudáveis de açúcar no sangue.
</p>
        <p class="hero-text" style="font-size: large;"><b>Controlar as Gorduras</b></p>
        <p class="hero-text" style="font-size: large;">Escolha Gorduras Saudáveis: Prefira gorduras insaturadas encontradas em azeite de oliva, abacates e nozes.
</p>
        <p class="hero-text" style="font-size: large;">Limite Gorduras Saturadas e Trans: Reduza o consumo de alimentos fritos, margarinas e carnes processadas.
</p>
        <p class="hero-text" style="font-size: large;"><b>Hidratar-se Adequadamente</b></p>
        <p class="hero-text" style="font-size: large;">Beba Água: A hidratação é essencial para a saúde geral. Aim para consumir pelo menos 8 copos de água por dia, ajustando conforme suas necessidades e nível de atividade.
</p>
        <p class="hero-text" style="font-size: large;"><b>Praticar a Alimentação Consciente
</b></p>
        <p class="hero-text" style="font-size: large;">Preste atenção aos Sinais de Fome e Saciedade: Coma quando estiver com fome e pare quando estiver satisfeito para evitar comer em excesso.
</p>
        <p class="hero-text" style="font-size: large;">Evite Comer por Tédio ou Emoção: Tente distinguir entre fome real e desejos emocionais.
</p>
        <p class="hero-text" style="font-size: large;"><b>Manter um Estilo de Vida Ativo</b></p>
        <p class="hero-text" style="font-size: large;">Exercício Regular: Combine uma dieta saudável com atividade física regular para manter um peso saudável e melhorar a saúde geral.
</p>
        <p class="hero-text" style="font-size: large;"><b>Educar-se e Buscar Orientação Profissional
</b></p>
        <p class="hero-text" style="font-size: large;">Consultoria Nutricional: Considere trabalhar com um nutricionista ou médico para personalizar um plano alimentar de acordo com suas necessidades específicas e condições de saúde.
</p><br>
        <p class="hero-text" style="font-size: large;">Implementar essas práticas pode ajudar a melhorar a alimentação, promover uma saúde ótima e reduzir o risco de doenças.
</p>











      </div>
    </section>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer>
    <div class="container" id="sobre">

      <div class="card footer">

        <div class="section footer-top">

          <div class="footer-brand">

            <a href="#" class="logo">
              <img src="./assets/images/logo-ifrn.png" width="200" height="auto" alt="logo">
            </a>

            <p class="footer-text">
              Este site foi criado para fins acadêmicos, com o intuito de compartilhar informações referentes à assuntos da matéria de Biologia.
            </p>

          </div>

          <div class="footer-brand">
            <p class="footer-list-title">InfoWeb 3M</p>

            <p class="footer-text">
              Biologia I <br>
              Prof. Tuca Surini
            </p>

            <p class="footer-list-title">Componentes do grupo</p>

            <p class="footer-text">Francisco Douglas<br>Maria Clara<br>Mateus Cosme<br>Sara Monalisa<br>Stephanny Nayane
            </p>
          </div>
          <div class="footer-list">

            <p class="footer-list-title">Referências</p>

            <ul>

              <li><a href="https://semprebem.paguemenos.com.br/posts/saude/ma-alimentacao" class="footer-link hover-2">Sempre Bem</a></li>
              <li><a href="https://intertvweb.com.br/bem-estar/ma-alimentacao-e-seus-riscos-para-a-saude/" class="footer-link hover-2">Intertv Web</a></li>
              <li><a href="https://hepatogastro.com.br/quais-as-consequencias-da-ma-alimentacao/" class="footer-link hover-2">Hepatogastro</a></li>
              <li><a href="https://www.camim.com.br/sedentarismo-e-ma-alimentacao-na-infancia-e-adolescencia/" class="footer-link hover-2">Camim</a></li>
              <li><a href="https://fghmedicina.com.br/doencas-ma-alimentacao/#:~:text=A%20m%C3%A1%20alimenta%C3%A7%C3%A3o%20%C3%A9%20caracterizada,e%20condi%C3%A7%C3%B5es%20cr%C3%ADticas%20de%20sa%C3%BAde" class="footer-link hover-2">FGH Medicina</a></li>
              <li><a href="https://www.sobiologia.com.br/conteudos/Corpo/alimentos.php" class="footer-link hover-2">Só Biologia</a></li>
              <li><a href="https://brasilescola.uol.com.br/saude-na-escola/nutrientes.htm" class="footer-link hover-2">Brasil Escola</a></li>
              <li><a href="https://www.revistalofficiel.com.br/wellness/ma-alimentacao-interfere-nos-resultados-da-atividade-fisica" class="footer-link hover-2">Revista Officiel</a></li>
              <li><a href="https://www.cedroni.com.br/post/pir%C3%A2mide-alimentar-o-que-%C3%A9-tipos-e-para-que-serve" class="footer-link hover-2">Cedroni</a></li>
              <li><a href="Exercício físico e alimentação: qual a importância dessa relação? - Blog - Personal Virtual (meupersonalvirtual.com.br)" class="footer-link hover-2">Meu Personal Virtual</a></li>
              <li><a href="Má alimentação: consequências, sintomas e doenças | IMEB" class="footer-link hover-2">IMEB</a></li>


            </ul>

          </div>

        </div>

        <div class="footer-bottom">

          <p class="copyright">
            &copy; Desenvolvido por <a href="#" class="copyright-link">Infoweb 3M.</a>
          </p>

        </div>

      </div>

    </div>
  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>