{% extends "base.html" %}
{% load static %}

{% block content %}

  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home" aria-label="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">Blog das Biomoléculas</p>

            <h1 class="headline headline-2 section-title">
              Impacto da <span class="span">Má Alimentação</span> na saúde
            </h1>

            <p class="hero-text">
              Para os seres humanos, a alimentação é um artifício essencial, pois tem a função de transportar os nutrientes, vitaminas e minerais necessários para o organismo, além de fornecer energia para a manutenção, crescimento e reprodução, mantendo o funcionamento adequado do corpo. Diante da falta de alguns nutrientes, o corpo pode sofrer graves consequências em virtude da interrupção de alguma atividade básica. Neste blog, apresentaremos os efeitos decorrentes de uma má alimentação na saúde. 
            </p>


          </div>

          <div class="hero-banner">

            <img src="{% static 'images/foto-banner.png' %}" width="427" height="auto" alt="" class="w-100">

            <img src="{% static 'images/pattern-2.svg' %}" width="27" height="26" alt="shape" class="shape shape-1">

            <img src="{% static 'images/pattern-3.svg' %}" width="27" height="26" alt="shape" class="shape shape-2">

          </div>

          <img src="{% static 'images/shadow-1.svg' %}" width="500" height="800" alt="" class="hero-bg hero-bg-1">

          <img src="{% static 'images/shadow-2.svg' %}" width="500" height="500" alt="" class="hero-bg hero-bg-2">

        </div>
      </section>

      <!-- 
        - #FEATURED POST
      -->

      <section class="section feature" aria-label="feature" id="posts">
        <div class="container">

          <h2 class="headline headline-2 section-title">
            <span class="span">Posts relacionados</span>
          </h2>

          <p class="section-text">
            Principais postagens sobre o assunto
          </p>

          <ul class="feature-list">
            
            <li>
              <div class="card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                  <img src="{% static 'images/oqueeh.png' %}" width="1602" height="903" loading="lazy"
                    alt="O que é considerado uma má alimentação" class="img-cover">
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <a>###</a>
                    </div>

                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">1 min</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="oqueeh.html" class="card-title hover-2">
                      O que é considerado uma má alimentação
                    </a>
                  </h3>

                  <a href="oqueeh.html" class="btn btn-primary">Leia mais</a>

                  <button class="btn"></button>

                </div>

              </div>
            </li>

            <li>
              <div class="card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                  <img src="{% static 'images/sinais.png' %}" width="1602" height="903" loading="lazy"
                    alt="Identificando sinais de uma má alimentação" class="img-cover">
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <a>###</a>
                    </div>

                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">1 min</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="sinais.html" class="card-title hover-2">
                      Identificando sinais de uma má alimentação
                    </a>
                  </h3>

                  <a href="sinais.html" class="btn btn-primary">Leia mais</a>

                  <button class="btn"></button>

                </div>

              </div>
            </li>

            <li>
              <div class="card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                  <img src="{% static 'images/alimentos.png' %}" width="1602" height="903" loading="lazy"
                    alt="Alimentos que compõem uma má alimentação" class="img-cover">
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <a>###</a>
                    </div>

                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">1 min</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="alimentos.html" class="card-title hover-2">
                      Alimentos que compõem uma má alimentação
                    </a>
                  </h3>

                  <a href="alimentos.html" class="btn btn-primary">Leia mais</a>

                  <button class="btn" aria-label="open menu" data-nav-toggler></button>

                </div>

              </div>
            </li>

            <li>
              <div class="card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                  <img src="{% static 'images/consequencias.png' %}" width="1602" height="903" loading="lazy"
                    alt="Consequências da má alimentação" class="img-cover">
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <a>###</a>
                    </div>

                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">1 min</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="consequencias.html" class="card-title hover-2">
                      Consequências da má alimentação
                    </a>
                  </h3>

                  <a href="consequencias.html" class="btn btn-primary">Leia mais</a>

                  <button class="btn" aria-label="open menu" data-nav-toggler></button>

                </div>

              </div>
            </li>

            <li>
              <div class="card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                  <img src="{% static 'images/praticasfisicas.png' %}" width="1602" height="903" loading="lazy"
                    alt="Como a má alimentação interfere em práticas físicas" class="img-cover">
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <a>###</a>
                    </div>

                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">1 min</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="praticasfisicas.html" class="card-title hover-2">
                      Como a má alimentação interfere em práticas físicas
                    </a>
                  </h3>

                  <a href="praticasfisicas.html" class="btn btn-primary">Leia mais</a>

                  <button class="btn" aria-label="open menu" data-nav-toggler></button>

                </div>

              </div>
            </li>

            <li>
              <div class="card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                  <img src="{% static 'images/etapas.png' %}" width="1602" height="903" loading="lazy"
                    alt="A má alimentação em diferentes etapas da vida" class="img-cover">
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <a>###</a>
                    </div>

                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">1 min</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="etapasdavida.html" class="card-title hover-2">
                      A má alimentação em diferentes etapas da vida
                    </a>
                  </h3>

                  <a href="etapasdavida.html" class="btn btn-primary">Leia mais</a>

                  <button class="btn" aria-label="open menu" data-nav-toggler></button>

                </div>

              </div>
            </li>

            <li>
              <div class="card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                  <img src="{% static 'images/piramide.png' %}" width="1602" height="903" loading="lazy"
                    alt="Entendendo a piramide alimentar" class="img-cover">
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <a>###</a>
                    </div>

                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">1 min</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="piramide.html" class="card-title hover-2">
                      Entendendo a piramide alimentar
                    </a>
                  </h3>

                  <a href="piramide.html" class="btn btn-primary">Leia mais</a>

                  <button class="btn" aria-label="open menu" data-nav-toggler></button>

                </div>

              </div>
            </li>

            <li>
              <div class="card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                  <img src="{% static 'images/evitar.png' %}" width="1602" height="903" loading="lazy"
                    alt="Como melhorar a alimentação e evitar doenças" class="img-cover">
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <a>###</a>
                    </div>

                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">1 min</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="evitardoencas.html" class="card-title hover-2">
                      Como melhorar a alimentação e evitar doenças
                    </a>
                  </h3>

                  <a href="evitardoencas.html" class="btn btn-primary">Leia mais</a>

                  <button class="btn" aria-label="open menu" data-nav-toggler></button>

                </div>

              </div>
            </li>

          </ul>

        </div>

        <img src="{% static 'images/shadow-3.svg' %}" width="500" height="1500" loading="lazy" alt="" class="feature-bg">

      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  




  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="{% static 'assets/js/script.js' %}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

{% endblock content %}